
body{
      font-family: "Inter", sans-serif;
}


header nav .menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
    padding:10px 120px;
}

header nav .menu-options{
    list-style:none; 
    display:flex;
    gap:15px

}
.main-btn{
    background-color: 
#30B868;
color: white;
padding: 16px 32px;
border:none;
font-weight: 600;
border-radius: 5px;
text-align: center;




}


.banner{
    background:url("../assets/hero-bg.png");
    /* background-ue:("../Sections/Banner.png"); */
    text-align: center;
    padding: 154px;
}
.banner h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    line-height: 74px;
    margin: 0;
    
    

}
.banner p{
    color: white
}

.green-text{
    color:#30B868;

}
.btn-clear{
background: transparent;
color: white;
padding: 16px 32px;
font-weight: 600;
border-radius: 5px;
border: 1px solid white;
margin-left: 2px

}
.early-access-btn{
    background-color:white;
    color:#30B868;
    padding:8px 16px;
    border-radius:1000px;
    border:none
}
.card-section{
    text-align: center;
    padding:10px 120px;
    background-color: #ced1d3;
    height:448px;

}
.card-section h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0

}
.card-section p{

}
.cards{
    display: flex;
    justify-items: center;
    align-items: center;
    margin:20px;
    gap:10px;

}
.card{
    padding: 120px 25px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;

}
.card img{
    background-color: red;
    border-radius: 50%;
    padding: 10px

}
.card h3{
    font-size: 24px;

}
.card p{

}
.brain{
    display:flex;
    padding:120px
}
.brain .brain-img{
    width: 668px
}
.brain-desc{
    padding:120px 60px;
}
.brain-desc p{
    color: #30B868
}
.brain-desc h3{
    font-size: 48px;
    font-weight: 600;
    margin:5px 0px;

}
.brain-desc small{
    color:  lightgrey
}
.brain-desc ul li{
    list-style: none;
    display:flex;
    gap:10px;
    line-height: 20px;
}
.think{
    margin: 20px 120px;
    padding: 80px 40px;
    text-align: center;
    background-color:#ced1d3;
    border-radius: 10px;

}
.think h2{
    font-size: 48px;
   font-weight: 600;
}
footer{
      background-color: rgb(1, 1, 28);
   
}
.main-footer{
  
    display: flex;
    justify-content: space-between;
    text-align: center;
color: white;
padding: 120px 190px 50px ;
border-bottom: 2px solid white


}
.social{
    text-align: center

}
.social h3{
    padding-left: 25px;
}
.main-footer ul {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    list-style: none;
    gap:10px;
}






