
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize
}


h1, h2, h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 10px 0;
}
button{
    text-transform: uppercase
}

/* common btn */

.main-btn {
  background-color: #30b868;
  color: white;
  padding: 16px 32px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


/* navigation styles */
header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 120px;
}

header nav .menu-options {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav a{
    
    text-decoration: none;
    color: black
    

}

/* Banner */
.banner {
  background: url("../assets/hero-bg.png") no-repeat center/cover;
  text-align: center;
  padding: 154px;
}

.banner h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  line-height: 74px;
}

.banner p {
  color: white;
}

.green-text {
  color: #30b868;
}

/* Cards Section */
.card-section {
  text-align: center;
  padding: 10px 120px;
  background-color: #ced1d3;
  height: 348px;
}

.cards {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.card {
  padding: 120px 25px;
  background-color: white;
  border-radius: 10px;
}

.card img {
  background-color: red;
  border-radius: 50%;
  padding: 10px;
}
.card-section h3 {
  font-size: 48px;
  font-weight: 700;
}


/* Brain Section */
.brain {
  display: flex;
  align-items: center;
  padding: 120px;
}

.brain .brain-img {
  width: 668px;
}

.brain-desc {
  padding: 120px 60px;
}

.brain-desc ul li {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 20px;
}
.brain-desc p {
  color: #30b868;
}

.brain-desc h3 {
  font-size: 48px;
  font-weight: 600;
  margin: 5px 0;
}

.brain-desc small {
  color: #627382;
}
/* Think Section */
.think {
  margin: 20px 120px;
  padding: 80px 40px;
  text-align: center;
  background-color: #f0f6fa;
  border-radius: 10px;
}

.think h2 {
  font-size: 48px;
  font-weight: 600;
}
.think p{
    color: #627382;
}


/* Footer */
footer {
  background-color: rgb(1, 1, 28);
  padding: 120px 190px 50px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-bottom:50px;
  border-bottom: 1px solid white;
}

.copyright {
  color: white;
  padding: 10px 170px;
  text-align: center;
}



footer a{
    text-decoration: none;
    color:white
}


.btn-clear {
  background: transparent;
  color: white;
  padding: 16px 32px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid white;
  margin-left: 2px;
  cursor: pointer;
}

.early-access-btn {
  background-color: white;
  color: #30b868;
  padding: 8px 16px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
}











.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social h3 {
  padding: 0;
  margin-bottom: 10px;
}

.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;
}


/* hover affect */
.main-btn:hover{
    color:#30b868;
    background-color: white;
    border:1px solid #30b868;
    border-radius: 5px
}
.early-access-btn:hover {
  background-color:#30b868 ;
  color:white;
  border-radius: 1000px;
  cursor: pointer;
}
.btn-clear:hover{
     background-color:red ;
  color:white;
  border-radius: 5px
}
